.tiktaktoeBoard {
    display: flex;
    flex-wrap: wrap;
    width: 185px;
    align-items: center;
    justify-content: center;
  }
  .x-button,
  .o-button,
  .button {
    width: 60px;
    height: 60px;
    cursor:pointer;
  }
  .o-button {
    color: green;
    font-size: 32px;
    font-weight: 700;
  }
  .x-button {
    color: rgb(0, 17, 255);
    font-size: 32px;
    font-weight: 700;
  }
  .winning-cell{
    background-color: rgb(242, 182, 182);
  }
  .resetBtn{
    margin-top: 15px;
    padding: 5px;
    border-radius: 7px;
    cursor:pointer;
    background-color: red;
    font-weight: 700;
    font-size: 20px;
  }
  